# CACHE
CACHE_DIR=/path/to/cache

# RCP
RCP_BASE_URL=https://inference.rcp.epfl.ch/v1
RCP_API_KEY=sk-************************
RCP_BASE_MODEL=Qwen/Qwen3.6-35B-A3B
RCP_THINKING_MODEL=Qwen/Qwen3.6-35B-A3B
RCP_VISION_MODEL=Qwen/Qwen3.6-35B-A3B

# MOODLE
MOODLE_URL=https://moodle.epfl.ch
MOODLE_TOKEN=************************

LANGFUSE_BASE_URL=https://langfuse.cede-apps.ch
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_TRACING_ENVIRONMENT=test

# PATHS
BASE_PATH=/path/to/base/folder